In [19]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [8]:
url = 'https://ek.ua/ua/list/122/'

In [3]:
headers = {
    'Accept': '*/*',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'
}

In [9]:
req = requests.get(url, headers=headers)
soup = BeautifulSoup(req.text, 'html.parser')

In [23]:
dct = {
    'Name': [],
    'Price': [],
    'Config': []
}
for i in range(1, 6):
    url = f'https://ek.ua/ua/list/122/{i}/'
    req = requests.get(url, headers=headers)
    soup = BeautifulSoup(req.text, 'html.parser')
    print(f'Парсинг {i} сторінки')
    
    for item in soup.find_all('div', class_='model-short-div'):
        dct['Name'].append(item.find(class_='u').text)
        dct['Price'].append(item.find(class_='model-price-range').text.split('.')[0])
        dct['Config'].append(item.find(class_='list-conf-name').text)

Парсинг 1 сторінки
Парсинг 2 сторінки
Парсинг 3 сторінки
Парсинг 4 сторінки
Парсинг 5 сторінки

In [24]:
df = pd.DataFrame(dct)

In [25]:
df.to_excel('Lesson.xlsx', index=False)

In [26]:
df

,Name,Price,Config
0,Xiaomi Redmi K60,Ціна від 17 337 до 17 833 грн,256 ГБ / ОЗП 12 ГБ
1,Apple iPhone 13 Pro,Ціна від 31 580 до 51 121 грн,128 ГБ
2,Xiaomi Redmi Note 12 4G,Ціна від 6 199 до 10 080 грн,128 ГБ / ОЗП 4 ГБ
3,Xiaomi Redmi 12,Ціна від 5 499 до 7 536 грн,128 ГБ / ОЗП 4 ГБ
4,Motorola Moto G32,Ціна від 5 767 до 8 279 грн,128 ГБ / ОЗП 6 ГБ
...,...,...,...
115,Realme C53,Ціна від 5 247 до 8 615 грн,128 ГБ
116,Samsung Galaxy M52 5G,Ціна від 6 446 до 13 497 грн,ОЗП 6 ГБ
117,Motorola Moto G23,Ціна від 6 197 до 10 771 грн,128 ГБ / ОЗП 8 ГБ
118,Samsung Galaxy S10,Ціна від 11 400 до 25 825 грн,128 ГБ
119,Apple iPhone SE,Ціна від 14 884 до 22 100 грн,64 ГБ